* {
  padding: 0;
  margin: 0;
}

a {
  color: #222;
  text-decoration: none;
}

@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/DancingScript-VariableFont_wght.ttf") format("woff2");
  font-weight: 700;
}

body, html {
  overflow-x: hidden;
}

.loader {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  font-family: 'Dancing Script', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader h1 {
  font-size: 5em;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

@media (max-width: 760px) {
  .loader h1 {
    font-size: 2em !important;
  }
}

.display-off-loader {
  opacity: 0;
  pointer-events: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  position: relative;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .newsHead {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
}

nav .chng-country {
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 20px;
}

@media (max-width: 380px) {
  .chng-country {
    padding: 5px !important;
    font-size: 14px;
  }
}

.cont-selection {
  display: none;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont-selection h2 {
  text-align: center;
}

.cont-selection form {
  width: 40%;
  text-align-last: center;
}

.cont-selection select, .cont-selection button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
}

.cont-selection select {
  margin: 20px auto;
  border: 1px solid #222;
  outline: 0;
  text-align: center;
  color: #444;
  line-height: 1.3;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border-radius: .5em;
}

.cont-selection select option {
  padding: 10px 20px;
  font-size: 15px;
}

.cont-selection button {
  margin: 10px auto;
  border-radius: 8px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.news {
  margin-top: 0px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.news a {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  margin: 20px auto;
  height: 100%;
}

.news .news-card {
  height: 100%;
  border: 1px solid #ddd;
  -webkit-box-shadow: 1px 2px 1px #ddd;
          box-shadow: 1px 2px 1px #ddd;
  border-radius: 8px;
}

.news .news-card .newsImg img {
  min-width: 100%;
  width: 100%;
}

.news .news-card .card-body {
  padding: 20px;
  position: relative;
}

.news .news-card .card-body h2 {
  text-align: justify;
}

.news .news-card .card-body h2::first-letter {
  text-transform: uppercase;
}

.news .news-card .card-body #auth {
  margin: 5px auto;
}

.news .news-card .card-body #time {
  margin: 5px auto;
}

.news .news-card .card-body .content {
  margin: 10px auto;
  text-align: justify;
}

@media (max-width: 840px) {
  .news a {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 90% !important;
            flex: 0 0 90% !important;
  }
}

@media (max-width: 768px) {
  .card-body h2 {
    font-size: 1.3em;
  }
}

.display-true {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.display-none {
  display: none !important;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */