*{
    padding: 0;
    margin: 0;
}
a{
    color: #222;
    text-decoration: none;
}
//using downloaded google fonts
@font-face{
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-VariableFont_wght.ttf") format("woff2");
    font-weight: 700; 
}
@mixin center{
    justify-content: center;
    align-items: center;
}
@mixin btn-style{
    border-radius: 8px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

body, html{
    overflow-x: hidden;
}

.loader{
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 100;
    font-family: 'Dancing Script', cursive;
    display: flex;
    @include center();
    h1{
        font-size: 5em;
        animation: fadeIn 0.5s;
    }
}
@media (max-width: 760px){
    .loader {
        h1{
            font-size: 2em!important;
        }
    }
}
.display-off-loader{
    opacity: 0;
    pointer-events: none;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

nav{
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    .newsHead{
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
    }
    .chng-country{
        display: inline-block;
        @include btn-style();
        padding: 10px;
        position: absolute;
        right: 20px;
    }
}
@media(max-width: 380px){
    .chng-country{
        padding: 5px!important;
        font-size: 14px;
    }
}
.cont-selection{
    display: none;
    height: 100vh;
    flex-direction: column;
    h2{
        text-align: center
    }
    @include center();
    form{
        width: 40%;
        text-align-last: center;
    }
    select, button{
        display: block;
        padding: 10px 20px;
        font-size: 16px;
    }
    select{
        margin: 20px auto;
        border: 1px solid #222;
        outline: 0;
        text-align: center;
        color: #444;
        line-height: 1.3;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        width: 100%;
        max-width: 100%;
        background-color: #fff;
        border-radius: .5em;
        option{
            padding: 10px 20px;
            font-size: 15px;
        }
    }
    button{
        margin: 10px auto;
        @include btn-style();
    }
}

.news{
    margin-top: 0px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    @include center();
    justify-content: space-around;
    align-items: stretch!important;
    a{
        display: block;
        flex: 0 0 40%;
        margin: 20px auto;
        height: 100%;
    }
    .news-card{
        height: 100%;
        border: 1px solid #ddd;
        box-shadow: 1px 2px 1px #ddd;
        border-radius: 8px;

        .newsImg img{
            min-width: 100%;
            width: 100%;
        }
        .card-body{
            padding: 20px;
            position: relative;
            h2{
                text-align: justify;
            }
            h2::first-letter{
                text-transform: uppercase;
            }
            #auth{
                margin: 5px auto;
            }
            #time{
                margin: 5px auto;
            }
            .content{
                margin: 10px auto;
                text-align: justify;
            }
        }
    }
}
@media(max-width: 840px){
    .news a{
        flex: 0 0 90%!important;
    }
}
@media(max-width: 768px){
    .card-body h2{
        font-size: 1.3em;
    }
}


.display-true{
    display: flex!important;
}
.display-none{
    display: none!important;
    pointer-events: none;
}
