*{
    padding: 0;
    margin: 0;
}

//using downloaded google fonts
@font-face{
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-VariableFont_wght.ttf") format("woff2");
    font-weight: 700; 
}
@mixin center{
    justify-content: center;
    align-items: center;
}

body, html{
    overflow-x: hidden;
}

.loader{
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 100;
    font-family: 'Dancing Script', cursive;
    display: flex;
    @include center();
    h1{
        font-size: 5em;
        animation: fadeIn 0.5s;
    }
}
@media (max-width: 760px){
    .loader {
        h1{
            font-size: 2em!important;
        }
    }
}
.display-off-loader{
    opacity: 0;
    pointer-events: none;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.cont-selection{
    height: 100vh;
    display: flex;
    flex-direction: column;
    h2{
        text-align: center
    }
    @include center();
    select, button{
        display: block;
        padding: 10px 20px;
        font-size: 16px;
    }
    select{
        margin: 20px auto;
        border: 1px solid #222;
        outline: 0;
        text-align: center;
        color: #444;
        line-height: 1.3;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        width: 100%;
        max-width: 100%;
        border-radius: .5em;
        option{
            padding: 10px 20px;
            font-size: 15px;
        }
    }
    button{
        margin: 10px auto;
        border-radius: 8px;
        border: 1px solid #007bff;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }
}